#navtop{
     background-color: rgb(0, 122, 253);  
    padding: 0;
} 

#banner{
  background-size: cover;
}

#titulo{
  position: relative;
  color:white;
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Staatliches', cursive;
  
}


#sobrenos2{
  
  background-color: #0571ff;
  padding-bottom: 60px;
  padding-top: 60px;
  
  height: 90%;
  /* margin-left: 5%; */

}


#txtnos{
  

  font-size: 1em;
  font-family: 'Anton', sans-serif;
  color: aliceblue;  
  margin-left: 7%;
 
}

 /* #divvideo{
  
  margin-left: 10%;
  padding: 0%;
  width: 80%;
  height: 100%;
  
  
    
 } */

 #video{
  width: 80%;
  height: 250px;
  border: 10px;
 }



#pnos{
 
  color: aliceblue;  
  width: 100%;
  height: 50%;
  padding-right: 20px;
  
  

}

#divtv{
  padding: 0%;
  width: 88%;
  
}

#mvv{
  padding: 70px;
  color: rgb(5, 113, 255);
}


#Imissao{
  
  padding: 5%;
  padding-top: 5px;
  
}

#Ivisao{
  
  padding: 5%;
  padding-top: 5px;
  
}

#Ivalores{
  
  
  padding: 5%;
  padding-top: 5px;
  
}


@media (max-width: 600px) {

  #divtv{

    flex-direction: column;
  }

  #mvv{
    flex-direction: column;
    padding: 10%;
  }

  #video{

    width: 100%;
    height: 100%;
  }

}



