.navbar{
    background-color: #007afd;  
   padding: 0;
  } 
  
  
#aviso{
  
  margin-top: 25vh;
  margin-bottom: 25vh;
  text-align: center;
}

  footer{
  
  text-align: center;
  background-color: #0046a1;
  padding: 6px;
  color:#fff;
  }

  
  



  @media (max-width: 650px) {
  
  
  footer{
  
   padding: 2px;
   
}

  }