.navbar{
    background-color: #007afd;  
   padding: 0;
  } 
  
  
  footer{
  
  text-align: center;
  background-color: #0046a1;
  padding: 6px;
  color:#fff;
  }

  #tcadastro{
    box-shadow: 1px 1px 10px 1px rgb(2, 2, 2);
   margin-top: 10vh;
   margin-bottom: 5vh;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center
   
  }

  #divgenero{

    margin-bottom: 16px;

  }

  
#imagem{
    width: 200px; 
    height: 200px;
    margin: 0;
}

#inscrição{
  text-align: center;
  color: #0046a1;
  
}

.form{
  width: 100%;
}

#data{
  margin-top: 16px;
  margin-bottom: 16px;
}



#botão{
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: #007afd;
  width: 95%;
  height: 40px;
  border: 0;
  border-radius: 10px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;

}
#botão:hover{
    background-color: blue;
}

  @media (max-width: 650px) {
  
  
  footer{
  
   padding: 2px;
   
  }

  #imagem{
    width: 150px; 
    height: 150px;
}

#tcadastro{
  margin-right:10%;

  
  }
  }