.navbar{
    background-color: rgb(0, 122, 253);  
   padding: 0;
  } 
  
  
  footer{
  
  text-align: center;
  background-color: #0046a1;
  padding: 6px;
  color:#fff;
  }
  
  @media (max-width: 650px) {
  
  
  footer{
  
   padding: 2px;
   
  }
  
  }
  
  
  
  